.sidebar {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 74px;
    background-color: white;
    z-index: 200;
}
.sidebar-link {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   height: 74px;
}
.sidebar-link:hover {
    background-color: rgb(248, 248, 248);
}
.sidebar-link img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}
.sidebar-link div {
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 4px;
}