
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 8px;
    row-gap: 22px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.video-card {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 4px;
}
.thumbnail-container {
    position: relative;
}
.thumbnail{
    width: 100%;
    height: auto;
}
.video-time{
    position: absolute;
    bottom: 11px;
    right: 4px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 44px 1fr;
}

.profile-picture{
    border-radius: 50%; 
    width: 36px;
    margin-top: 8px;
    
}

.video-title {
    font-family: Roboto, sans-serif, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 8px 0px 0px;
}
.video-title a {
    text-decoration: none;
    color: inherit;
}

.channel-name {
    font-family: Roboto, sans-serif, Arial;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin: 10px 0px 0px;
}
.channel-name a {
    text-decoration: none;
    color: inherit;
}

.video-stats {
    font-family: Roboto, sans-serif, Arial;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin: 4px 0px 12px;   
}

